flutter/ephemeral/

# Visual Studio user-specific rides.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related rides.
x64/
x86/

# Visual Studio cache rides
# rides ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
